---
import {Icon} from 'astro-icon';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <Hero/>

  <section class="programmer container blur grid-sm">
    <Icon name='programmer' width={400} aria-hidden='true' alt='Programmer Picture' class='programmer-icon' />
  </section>
</Layout>

<style>
  .programmer::after,
  .programmer::before {
    opacity: 0.3;
  }
  .programmer-icon {
    width: var(--size-fluid-9);
    filter: drop-shadow(10px 10px 25px rgb(236, 70, 153, 0.2));
  }
</style>
