---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <h1 class="text-gradient">Welcome to<br> Astro 1.2.7</h1>
      <h2 class="text-gradient">Welcome to<br> Astro 1.2.7</h2>
      <h3 class="text-gradient">Welcome to<br> Astro 1.2.7</h3>
      <!-- <h4 class="">Small subheading</h4>
      <h5 class="">Small subheading</h5> -->
      <small class="">Small subheading</small>
    </div>
		<div>
			<button type="button" class="btn btn-primary">Do a thing</button>
      <a href="#" class="btn btn-primary">button</a>
      <a href="#" class="btn btn-secondary">button</a>
		</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quasi esse fuga quos quod magnam sit blanditiis eos quae expedita, natus rerum possimus illo incidunt recusandae molestias a ullam ratione nesciunt? Harum labore dolorem eaque deserunt corrupti ipsum blanditiis ex, animi eum, voluptatibus laboriosam quibusdam dicta? Incidunt tenetur deleniti amet!</p>
  </main>
</Layout>
