<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Hi all, 👋I'm Kota.</h1>
    <p class="text-muted narrow">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ea corrupti
      nihil quidem accusamus. Atque quam tempore, recusandae aspernatur nulla,
      rerum corporis officiis dicta placeat eligendi neque?
    </p>
  </div>
  <div class="grid-sm">
    <a href="#" class="btn btn--secondary">Contact Me</a>
    <small class="text-muted">No commitment contact</small>
  </div>
</header>

<style>
  h1,
  p {
    text-align: center;
  }
  p {
    font-size: var(--font-size-2);
  }
</style>
